.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-inner{
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: #FFF;
    border-radius: 20px;
}

.popup-inner .close-btn{
    position: absolute;
    top: 16px;
    right: 16px;
}

.close-btn {
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(34, 34, 78);
    color: #eee;
    cursor: pointer;
    transition: all 0.4s ease;
}

.close-btn:hover {
    background-color: rgb(62, 62, 138);
    color: #eee;
    cursor: pointer;
    transform: translateY(-5px);
}