.calendar-component {
    justify-content: center;
    align-items: center;
}

.calendar-event-info {
    align-items: center;
    justify-content: center;
    margin: -20px 10px 10px 10px;
}

.calendar-event-main-body {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #eee;
    border-radius: 15px;
    padding: 0 20px 20px 20px
}

.calendar-event-main-body input{
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
}


.calendar-event-info-left {
    width: 45%;
}

.calendar-event-info-right {
    width: 45%;
}

.calendar-edit-buttons {
    margin: 10px;
    height: 4vh;
    padding: 1vh;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s ease;
    background-color: rgb(34, 34, 78);
    color: #eee;
}

.calendar-edit-buttons:hover {
    transform: translateY(-5px);
    background-color: rgb(62, 62, 138);
}

.calendar-object {
    margin: 30px;
}

.calendar-editing-space {
    padding: 0 10px 10px 10px;
}