.navbar {
    background-color: rgb(34, 34, 78);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
}

.navbar img {
    width: 6vh;
    height: 6vh;
    margin: 2vh;
}

.navbar .router-link {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    width: 6vh;
    margin: 2vh;
    border-radius: 5px;
}